<div class="row">
    <div class="col-md-10">
        <h2>QR Code Search</h2>
    </div>
</div>

<div class="col-md-10">
    <p class="form-group">
        <input type="text" name="searchPattern" class="form-control" ng-model="model.searchPattern" />
    </p>
    <button type="button" class="btn btn-primary" ng-click="search()" style="margin-bottom:10px;">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search Bacodes by partial string
    </button>
</div>



<div class="row">
    <div class="span10">
        <table class="table table-condensed table-hover" ng-show="model.trackings.length>0">
            <tr>
                <th></th>
                <th>OrderDate</th>
                <th>Mo Number</th>
                <th>Shift</th>
                <th>Operators</th>
                <th>Comments</th>
            </tr>
            <tr ng-repeat="tracking in model.trackings | orderBy:'-orderDate'">
                <td style="width:20px;"><a href="/Trackings/{{tracking.id}}"><span class="glyphicon glyphicon-folder-open"></span></a></td>
                <td>{{tracking.orderDate | Date }}</td>
                <td>{{tracking.moNum}}</td>
                <td>{{tracking.qrShift}}</td>
                <td>{{tracking.qrOperators}}</td>
                <td>{{tracking.qrComments}}</td>
            </tr>
        </table>
    </div>
</div>