<div class="row">
    <div class="span10">
        <h2 style="display:inline;">Trackings</h2>
        <button style="margin-bottom:10px;" type="button" class="btn btn-primary" ng-click="addTracking()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Tracking
        </button>
    </div>
</div>

<div class="col-md-10">
    <p class="input-group">
        <input type="text" name="dateStart" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="dateStart" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </p>
</div>
<div class="col-md-10">
    <p class="input-group">
        <input type="text" name="dateEnd" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="dateEnd" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </p>
</div>
    <div class="row">
        <div class="span10">
            <table class="table table-condensed table-hover">
                <tr>
                    <th></th>
                    <th>OrderDate</th>
                    <th>Mo Number</th>
                    <th>Shift</th>
                    <th>Operators</th>
                    <th>Comments</th>
                    <th></th>
                </tr>
                <tr ng-repeat="tracking in trackings | upComing:'orderDate': dateStart : dateEnd | orderBy:'-orderDate'">
                    <td style="width:20px;"><a href="/Trackings/{{tracking.id}}"><span class="glyphicon glyphicon-folder-open"></span></a></td>
                    <td>{{tracking.orderDate | Date }}</td>
                    <td>{{tracking.moNum}}</td>
                    <td>{{tracking.qrShift}}</td>
                    <td>{{tracking.qrOperators}}</td>
                    <td>{{tracking.qrComments}}</td>
                    <td style="width:20px;"><a ng-href="/Trackings/Edit/{{tracking.id}}" href="#"><span class="glyphicon glyphicon-edit"></span></a></td>
                </tr>
            </table>
        </div>
    </div>

